.exp{



    &__bar{
        @include incomeDisplay;
        display: flex;
        justify-content: space-between;
        justify-items: center;
        align-items: center;
        align-content: center;
        font-size: 1.5rem;
        color: #fff;
        margin-top: 2rem;
        
        background-color: rgb(207, 60, 60);
        

        &-name{
            color: rgb(54, 54, 54);
            margin-left: 1.5rem;
            margin-right: auto;
            
        }
        &-total{
            
            color: #fff;
        }
        &-percent{
           margin-right: 1rem;
           margin-left: .5rem;
           padding: .7rem 1rem;
           font-size: 1rem;
           background: rgba(214, 214, 214, 0.233)

        }
    }
}



.expenses{

    width: 50%;
    margin-right: 2rem;
    overflow: hidden;
    

    &__header{
        color: red;
        @include header1;

    }

    &__data{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 2rem;
        height: 4rem;
        border-top: 1px solid rgb(187, 187, 187);
        border-bottom: 1px solid rgb(187, 187, 187);
        transition: all .2s ease-out;

        &-description{
            // margin-right: auto; 
            margin-left: 1.5rem;         


        }
        &-percent{
            font-size: 1rem;
            color: red;
            margin-right: 1rem;
            padding: .5rem;
            background-color: rgba(235, 235, 235, 0.233);
        }
        &-value{
            color: red;
            margin-left: auto;
            margin-right: 1rem;

        }
        &-svg{
            opacity: 0;
            transition: all .3s ease-out;
        }
    }
}


    

    .expenses__data:hover .expenses__data-svg {
   
    opacity: 1;
    height: 2rem;
    width: 2rem;
    fill: red;
    align-self: center;
    margin-right: 1.5rem;
    cursor: pointer;
}