.container{
    width: 100%;
    height: 35rem;
    background:  linear-gradient(to left, rgba(0, 13, 13, 0.4), rgba(0,0,0,.5) ), url('../assets/back.png');
    background-size: cover;
    background-position: center;

}