.container{
    width: 100%;
    height: 35rem;
    background:  linear-gradient(to left, rgba(0, 13, 13, 0.4), rgba(0,0,0,.5) ), url('../assets/back.png');
    background-size: cover;
    background-position: center;

}
.bottomContainer{
    display: flex;
    margin: 0 25rem;
    padding-top: 5rem;
    justify-content: start;
}
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Roboto', serif;

}

.gray{
    background-color: rgb(190, 190, 190);
}